<div class="SignUp">
   <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) , :html => {:autocomplete => "on"}) do |f| %>
       <%= f.error_notification %>


       <h1>Sign In</h1>
       <h4 class="center"> Don't have an account? <a href="/users/sign_up" ><font color="#4aa3df">Sign Up</font></a></h4>
       
       <hr>
       

        <%= f.input :email %>

        <%= f.input :password  %>

        
      
        <button type="submit">Sign In</button>
        <h4 class="center"> <a href="/users/password/new" ><font color="#4aa3df">Forgot Password<font></a></h4>
       
      
     
  <% end %>
</div>


