// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

