// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp {
  margin: 0 auto;

}


.masonry-item {
  margin: 15px;
  width: 300px;
  height:324px;
  background-color: #e74c3c;
  border: 4px solid #ccc;
}
