// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp {
  margin: 0 auto;

}


.masonry-item {
  margin: 18px;
  width: 320px;
  height:314px;
  background-color: #f1c40f;
  border: 4px solid #ccc;
}
